
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');*{
    font-family: 'Roboto Flex', sans-serif;

}
img {
	max-width: 100%;
	height: auto;
    width: 150px;
}

.container {
    width: 1300px;
	max-width: 100%;
	padding: 20px;
    padding-left: 70px;
    font-family: 'Roboto Flex', sans-serif;


}

.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}

 @media (min-width: 960px) {
	.main-header .container {
		justify-content: space-between;
	}
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    background:#ffffff;
}

body {
    margin: 0;
    --color-text: #333;
    --color-number: #999;
    --color-link: #ffffff;
    --color-link-hover: #ce1c19;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: europa, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;

}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a:hover {
    color: var(--color-link-hover);
    outline: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
    /* Provide a fallback style for browsers
	 that don't support :focus-visible */
    outline: none;
    background: lightgrey;
}

a:focus:not(:focus-visible) {
    /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
    background: transparent;
}

a:focus-visible {
    /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
    outline: 2px solid #E9D5DA;
    background: transparent;
}

.link {
    cursor: pointer;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
}

.link--io {
    font-family: europa, sans-serif;
}

.link--io::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.link--io:hover::before, .link--io.active::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.link--io::after {
    content: '';
    top: calc(100% + 4px);
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.link--io:hover::after, .link--io.active::after {
    transform-origin: 100% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.link--io.active { color: var(--color-text)}

.slogan {
    padding: 15px;
    padding-bottom: 40px;
    margin-top: 30px;
    color: #000000;
    width: 100%;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;

}

.filtre {
    display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
    margin: 20px;
    background:#cd3b38;
    opacity: 0.9;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 260px;

}

.filtre div p:first-child{
    font-weight: bold;

}

.filtrelenmisBiletler {

    display: flex;
	align-items: center;
	flex-wrap: wrap;
    column-gap: 70px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    color: black;




}

 .h1{
    padding-left: 70px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0 ;



}

.filtrelenmisBiletler > div {

    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px ;
    margin-top: 5px ;
    margin-left: 140px;

    width: 100%;

    user-select: none;
    border-radius: 25px;
    color: white;
    background: #cd3b38;
    border: 1px solid #ffffff;

}

.filtre2{
    font-family: 'Oswald', sans-serif;
    display: flex;
	align-items: center;
	flex-wrap: wrap;
    margin-top: 20px;
    user-select: none;
    border-radius: 5px;
    color: white;
    background: #cd3b38;
    line-height: 25px;
    column-gap: 50px;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    row-gap: 40px;
    font-size: 15px;

}




.filtrelenmisBiletler > div > div {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    padding: 5px;

}

select, input[type="date"]{
    padding: 15px 20px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #383838;
    cursor: pointer;
    margin-bottom:20px ;
    margin-top: 20px;
    font-size: 15px;
}


.otobusbiletibul {
    margin-top: 35px;
    padding: 20px 20px;
    border-radius: 10px;
    background:#ffffff;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
}
.otobusbiletibul:hover{
 background:#ffffff;
 color: #cd3b38;
 font: bold;
 font-size: 16px;
}

.biletEkle{

    font-size: 40px;
    margin-left:90px;
    padding: 5px 19px;
    border-radius: 100%;
    background:white;
    border: 1px solid rgb(210, 131, 131);
    cursor: pointer;
    cursor:"ekle";

}
.biletEkle:hover{
background:#ffffff;
color: #cd3b38;
font-size: 41px;
padding: 5px 20px;

}


.biletSil{
    font-size: 40px;
    margin-left:90px;
    padding: 5px 21px;
    border-radius: 100%;
    background:white;
    border: 1px solid rgb(210, 131, 131);
    cursor: pointer;


}

.biletSil:hover{
    background:#ffffff;
    color: #cd3b38;
    padding: 5px 21px;
}

.kalkis_noktasi{
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom:20px ;
    margin-top: 20px;


}


.devamet{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.devametbutton{
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cd3b38;
    border: 2px solid #cd3b38;
    color: #ffffff;
    font-size: 15px;
}

.devametbutton:hover{

    font-size: 16px;
}


.satinal{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.satinalb{
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid #cd3b38;
    color: #cd3b38;
    font-size: 17px;
}

.satinalb:hover{
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cd3b38;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 17px;
}

.girisyap{
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #cd3b38;
    width: 45%;
    padding-top: 20px;
    padding-bottom: 40px;
   border-radius: 5px;
    border: 1px solid white;
    margin-left: 150px;
    font-family: 'Oswald', sans-serif;


}


label{

    font-size: 20px;
    color: #cd3b38;
    font-family: 'Oswald', sans-serif;
    

}
input{
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: .5px;
    border: 1px solid white;
    padding: 10px 5px;
    border :2px solid#cd3b38 ;
    padding-right: 50px;

    
}

.girisyap button{
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cd3b38;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 17px;
    margin-left: 50px;
    padding-right: 50px;

   
    
}

.girisyap button:hover{
  

    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    color: #cd3b38;
    font-size: 17px;
    margin-left: 50px;
    padding-right: 50px;
    border: 2px solid #cd3b38;
   
    
}

.girisyap a{
    color: #cd3b38;
}

.girisyap h1{
    color: #cd3b38;
}

.register{
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    color: white;
    width: 50%;
    height: 76vh;
    line-height: 15px;
    border-radius: 8px;
    border: 1px solid white;
    font-family: 'Oswald', sans-serif;
    margin-left: 50px;

}

.register #form{

    font-size: 15px;
    padding-right: 40px;

}

.register h1{
    color: #cd3b38;
}


.adsoyad  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.konum{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.register button{
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #cd3b38;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}


.social{

    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;

}

.social i{
    font-size: 20px;
    letter-spacing: 4px;
}

.social i:hover{
    font-size: 20px;
    letter-spacing: 4px;
    font-size: 25px;
}


.buyticket label{
    color: white;
}

.buyticket{
    align-items: center;
    justify-content: center;
}

.buyticket .cvv
{
  width: 20px;
}


.buyticket{
 
    
    font-size: 10px;
}

.buybutton{
    padding: 10px;border-radius: 5px;
    border: 1px solid #cd3b38;
    color: #cd3b38;
    background-color: white;

    cursor: pointer;
}

.buybutton:hover{
    padding: 10px;border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #cd3b38;

    cursor: pointer;
}


.contact{
    background-color: white;
    color: #000000;
    border: 5px solid black;
    padding: 50px;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    opacity: 0.9;
    width: 65%;
}

.success{
    color: black;
}